.client-review{
    margin: 0 auto;
}
.client-review input, .client-review select, .client-review textarea{
    border: 1px solid #1976d2;
    box-sizing: border-box;
    border-radius: 6px;
    color: #1976d2;
    padding:8px 10px;
    font-size:14px;
    outline: none;
    width: 75%;
    margin: 10px 0;
}
.client-review input:active, .client-review select:active, .client-review textarea:active{
    border: 1px solid #1976d2;
}
.client-review input:hover, .client-review select:hover, .client-review textarea:hover{
    border: 1px solid #1976d2;
    transition: 1s;
}
.client-review ::placeholder {
    color: #a5a5a5 ;
  }