.header-container{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.header-menu{
    margin-top: 12px
}
.header-mobile-menu{
    display: flex;
    flex-direction: column;
}
.css-1futezt-MuiTypography-root{
    display: block !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
    width: 250px !important;
}